[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "App-LabRecorder"]
	path = App-LabRecorder
	url = https://github.com/labstreaminglayer/App-LabRecorder
